*{
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body{
	//overflow: hidden;
	//background-image: url('../img/fondbubble.png');
	//background-size: cover;
	//background-attachment: fixed;
}

video#vid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

a{
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;

  color: #000;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}

a:hover{
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;

	color: #e8dbae;
	-webkit-animation: none;
	-moz-animation: none;
	animation: none;
}

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}

@-moz-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}

@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}

@keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}

#main-wrap h1{
	font-family: 'Unlock', cursive;
	font-size: 6em;
}

#main-wrap h2{
	font-family: 'Raleway', sans-serif;
}

.group{
	font-family: 'Unlock', sans-serif;
	font-size: 2em;
}

.first h1{
	position: absolute;
	margin-top: 10%;
	margin-left: 10%;
}

.second h1{
	width:100%;        // +1 to @RonM
    position: absolute;
    text-align: center;
    padding-top:50%;
    -webkit-transform: translateY(-50%); /* child now centers itself relative to the midline based on own contents */
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-filter: 'progid:DXImageTransform.Microsoft.Matrix(Dx=0,Dy=0)'; /*IE8 */
    filter: progid:DXImageTransform.Microsoft.Matrix(Dx=0,Dy=0); /*IE6, IE7*/
    transform: translateY(-50%);
}

.third h1{
	position: absolute;
	margin-top: -20%;
	margin-left: 0%;
	text-align: center;
	vertical-align: middle;
}

.end{
	cursor: url('../img/ender.png'), auto;
}

#pin{
    width:10%;
    height: auto;
    position: relative;
	top: 0%;
	left: 35%;
}

#post{
    width:588px;
    height: auto;
    position: absolute;
	top: 1290px;
	left: 27.05%;
}

#bubble1{
    width:40%;
    height: auto;
    position: relative;
    top: 0%;
	left: 45%;
}

#bubble2{
    width:40%;
    height: auto;
    position: relative;
    top: 0%;
	left: 45%;
}

.invisible {
	transition: opacity 5s ease;
	opacity: 0.0;
}

.visible {
	transition: opacity 5s ease;
	opacity: 1.0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ccc;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
}

li {
    float: left;
    width: 33.3%;
    //min-width: 700px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 198.3px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

.active {
    background-color: lightgrey;
    border-top: 5px solid #209dd4;
}

#nav{
	position:fixed;
    width: 100%;
	top:0;
	z-index: 1;
}

.icon{
	height: auto;
	max-width: 30px;
	position: relative;
}

div.scrollable1{
	background-image: url('../img/FakeGoogle.jpg');
    background-repeat: no-repeat;
	height: 1248px;
	width: 100%;
    overflow:auto;
    position:relative;
    top: 46px;
    z-index: 0;
}

div.scrollable2{
	background-image: url('../img/FakeFb.jpg');
    background-repeat: no-repeat;
	height: 1498px;
	width: 100%;
    overflow:auto;
    position:relative;
    top: 58px;
    z-index: 0;
}

div.scrollable3{
	background-image: url('../img/FakeTwitter2.jpg');
    background-repeat: no-repeat;
	height: 1429px;
	width: 100%;
    overflow:auto;
    position:relative;
    top: 55px;
    z-index: 0;
}

#textbox{
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	background-color: #fff;
    width: 600px;
    height: 250px;
    border: 2px solid black;
    border-radius: 15px;
    overflow: scroll;
    opacity: 0.7;

    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.group {
    width: 440px;
    height: 40px;
    padding: 10px 40px;
    line-height: 40px;
    position: relative;
    z-index: 1;
    margin-left: 28%;
    margin-right: auto;
    margin-top: 100px;
    
}
.one {
    float: left;
    line-height: 40px;
    color: #000;
    text-decoration: none;
    transition: 1.0s;

    -webkit-animation: none;
	-moz-animation: none;
	animation: none;
}
.one:hover{
	color: #222;
}
.two {
    float: right;
    text-decoration: none;
    line-height: 40px;
    color: #a6afbf;

    -webkit-animation: none;
	-moz-animation: none;
	animation: none;
}
.bg {
    background-color: #f9dbae;
    height: 60px;
    width: 200px;
    position: absolute;
    top: 0;
    margin-left: -395px;
    z-index: -1;
    transition: 1.0s;
    border-radius: 5px;
}

span:hover + .bg {
    width: 200px;
    margin-left: -75px;
    background: #e8dbae;
}

.two > span:hover {
    color: black;
}

.two:hover ~ .one {
    color:#a6afbf;
}
span {
    padding: 10px 0;
    transition: 1.0s;
}

#apDiv1 {
    position:absolute;
    z-index:1;
    left: 1195px;
    top: 1905px;
}

#apDiv2 {
    position:absolute;
    z-index:1;
    left: 5px;
    top: 1905px;
}

#apDiv4 {
    position:absolute;
    z-index:1;
    left: 2px;
    top: 1925px;
}

#apDiv3 {
    position:absolute;
    z-index:1;
    left: 1225px;
    top: 1925px;
}

#apDiv5 {
    position:absolute;
    z-index:1;
    left: 1195px;
    top: 300px;
}

#apDiv6 {
    position:absolute;
    z-index:1;
    left: 5px;
    top: 300px;
}

#apDiv8 {
    position:absolute;
    z-index:1;
    left: 2px;
    top: 320px;
}

#apDiv7 {
    position:absolute;
    z-index:1;
    left: 1225px;
    top: 320px;
}
//------------------------------- ANIMATIONS ----------------------------------
.fromTopIn
{
	transition: transform 1.0s ease, opacity 1.0s ease;
	
	transform: translate(0,0);
	opacity: 1.0;
}

.fromTopOut
{
	transition: transform 1.0s ease, opacity 1.0s ease;
	
	transform: translate(0,-10px);
	opacity: 0.0;
}

.fromBottomIn
{
	transition: transform 1.0s ease, opacity 1.0s ease;
	
	transform: translate(0,0);
	opacity: 1.0;
}

.fromBottomOut
{
	transition: transform 1.0s ease, opacity 1.0s ease;
	
	transform: translate(0,10px);
	opacity: 0.0;
}

.fromLeftIn
{
	transition: transform 1.0s ease, opacity 1.0s ease;
	
	transform: translate(0,0);
	opacity: 1.0;
}

.fromLeftOut
{
	transition: transform 1.0s ease, opacity 1.0s ease;
	
	transform: translate(-10px,0);
	opacity: 0.0;
}

.fromRightIn
{
	transition: transform 1.0s ease, opacity 1.0s ease;
	
	transform: translate(0,0);
	opacity: 1.0;
}

.fromRightOut
{
	transition: transform 1.0s ease, opacity 1.0s ease;
	
	transform: translate(10px, 0);
	opacity: 0.0;
}

.scaleUpIn
{
	transition: transform 1.0s ease, opacity 1.0s ease;
	
	transform: scale(1.0,1.0);
	opacity: 1.0;
}

.scaleUpOut
{
	transition: transform 1.0s ease, opacity 1.0s ease;
	
	transform: scale(1.3,1.3);
	opacity: 0.0;
}

.scaleDownIn
{
	transition: transform 1.0s ease, opacity 1.0s ease;
	
	transform: scale(1.0,1.0);
	opacity: 1.0;
}

.scaleDownOut
{
	transition: transform 1.0s ease, opacity 1.0s ease;
	
	transform: scale(0.7,0.7);
	opacity: 0.0;
}

//------------------------------- ScrollBlock ----------------------------------
#main-wrap>div
{
  position: relative;
  margin: auto;
  text-align: center;
}

#block-up-arrow, #block-down-arrow {
  cursor: pointer;
}
