* {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none;
}

@font-face {
  font-family: "Manrope";
  src: url("manrope/manrope/manrope-extrabold.woff2") format("woff2"), /* Modern browsers */
  url("manrope/manrope-extrabold.woff") format("woff"), /* Legacy browsers */
  url("manrope/manrope-extrabold.otf") format("truetype"); /* Android, iOS */
  font-style: normal;
  font-weight: 800; }
@font-face {
  font-family: "Manrope";
  src: url("manrope/manrope-bold.woff2") format("woff2"),
  url("manrope/manrope-bold.woff") format("woff"),
  url("manrope/manrope-bold.otf") format("truetype");
  font-style: normal;
  font-weight: 700; }
@font-face {
  font-family: "Manrope";
  src: url("manrope/manrope-semibold.woff2") format("woff2"),
  url("manrope/manrope-semibold.woff") format("woff"),
  url("manrope/manrope-semibold.otf") format("truetype");
  font-style: normal;
  font-weight: 600; }
@font-face {
  font-family: "Manrope";
  src: url("manrope/manrope-medium.woff2") format("woff2"),
  url("manrope/manrope-medium.woff") format("woff"),
  url("manrope/manrope-medium.otf") format("truetype");
  font-style: normal;
  font-weight: 500; }
@font-face {
  font-family: "Manrope";
  src: url("manrope/manrope-regular.woff2") format("woff2"),
  url("manrope/manrope-regular.woff") format("woff"),
  url("manrope/manrope-regular.otf") format("truetype");
  font-style: normal;
  font-weight: 400; }
@font-face {
  font-family: "Manrope";
  src: url("manrope/manrope-light.woff2") format("woff2"),
  url("manrope/manrope-light.woff") format("woff"),
  url("manrope/manrope-light.otf") format("truetype");
  font-style: normal;
  font-weight: 300; }
@font-face {
  font-family: "Manrope";
  src: url("manrope/manrope-thin.woff2") format("woff2"),
  url("manrope/manrope-thin.woff") format("woff"),
  url("manrope/manrope-thin.otf") format("truetype");
  font-style: normal;
  font-weight: 200; }

@font-face {
  font-family: "HelveticaNow";
  src: url("helveticanow/helveticanow.otf") format("truetype");
  font-style: normal;
}

b{
  font-weight: bold;
}

body, html {
  height: 100%;
  font-family: "Manrope",sans-serif;
  font-weight: 500;
  scroll-behavior: smooth;
  color: #353535;
}
*,*:before,*:after {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

@media only screen and (min-width: 768px) {
  .link a{
    font-size: calc(3vw*0.7) !important;
  }
  .typewrite{
    font-size: calc(7vw*0.7) !important;
  }
  .project h1{
    font-size: calc(5vw*0.7) !important;
  }
  .project h2{
    font-size: calc(3vw*0.7) !important;
  }
  .project p{
    font-size: calc(3vw*0.7) !important;
    font-weight: normal !important;
  }
  #hello h1{
    font-size: calc(7vw*0.7) !important;
  }
  #contact{
    font-size: calc(3vw*0.7) !important;
  }
  #note{
    font-size: calc(3vw*0.7) !important;
  }

  .topPic h1{
    font-size: calc(7vw*0.7) !important;
  }
  .projectInfo p{
    font-size: calc(2.5vw*0.7) !important;
  }
  .userInfo p{
    font-size: calc(2.5vw*0.7) !important;
  }
  .titleInfo{
    font-size: calc(3vw*0.7) !important;
  }

  .paragraphTitle{
    font-size: calc(5vw*0.7) !important;
  }
  .paragraph p{
    font-size: calc(3vw*0.7) !important;
  }

  #nextName{
    font-size: calc(5vw*0.7) !important;
  }

  #coming h1{
    font-size: calc(7vw*0.7) !important;
  }
  #coming a{
    font-size: calc(3vw*0.7) !important;
  }

  .part img{
    max-width: 68% !important;
  }
  .part video{
    max-width: 68% !important;
  }

  .paragraph{
    max-width: 68% !important;
    margin-left: 16% !important;
  }

  .project{
    width: 36% !important;
    padding: 2% !important;
    margin: 0 !important;
    min-width: 0% !important;
  }

  .leftDiv{
    margin: 0 4.5% 9% 9% !important;
  }
  .rightDiv{
    margin: 0 9% 9% 4.5% !important;
  }
}

@media only screen and (min-width: 992px) {
  .link a{
    font-size: calc(3vw*0.5) !important;
  }
  .typewrite{
    font-size: calc(7vw*0.5) !important;
  }
  .project h1{
    font-size: calc(5vw*0.5) !important;
  }
  .project h2{
    font-size: calc(3vw*0.5) !important;
  }
  .project p{
    font-size: calc(3vw*0.5) !important;
  }
  #hello h1{
    font-size: calc(7vw*0.5) !important;
  }
  #contact{
    font-size: calc(3vw*0.5) !important;
  }
  #note{
    font-size: calc(3vw*0.5) !important;
  }

  .topPic h1{
    font-size: calc(7vw*0.5) !important;
  }
  .projectInfo p{
    font-size: calc(2.5vw*0.5) !important;
  }
  .userInfo p{
    font-size: calc(2.5vw*0.5) !important;
  }
  .titleInfo{
    font-size: calc(3vw*0.5) !important;
  }

  .paragraphTitle{
    font-size: calc(5vw*0.5) !important;
  }
  .paragraph p{
    font-size: calc(3vw*0.5) !important;
  }

  #nextName{
    font-size: calc(5vw*0.5) !important;
  }

  #coming h1{
    font-size: calc(7vw*0.5) !important;
  }
  #coming a{
    font-size: calc(3vw*0.5) !important;
  }


  .typewrite{
    white-space: nowrap;
  }

  /* .divBackground{
    background-image: none !important;
  } */
  /* .project{
    background-color: #1fe0 !important;
    border-radius: 0 !important;
    width: 100% !important;
    margin-bottom: 0 !important;
    border: none !important;
  } */
  .project h1{
    text-decoration: none !important;
  }
  .project p{
    /* display: none; */
    /* padding: 0 15%; */
  }
  .project:hover h1{

  }
  .project:hover p{
    display: block;
  }
  .project:hover h2{
    display: block;
  }

  #logo{
    display: none;
  }
  #logoProjectPage{
    display: none;
  }
  .topPic{
    margin: 5% auto 0 auto !important;
  }

  #name{
    display: block !important;
    font-size: calc(3vw*0.5) !important;
  }
  #nameProjectPage{
    display: block !important;
    font-size: calc(3vw*0.5) !important;
  }
}

@media only screen and (min-width: 1200px) {

}

.background{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow:auto;
  transition: background-image .2s ease-in-out;
}

.n01{
  /* background-color: #1A1A1A; */
  background-image: url("../img/regularlight.svg");
}
.n02{
  /* background-color: #1A1A1A; */
  background-image: url("../img/regularlight.svg");
}
.n0{
  /* background-color: #ffffff; */
  background-image: url("../img/regularlight.svg");
}
.n1{
  background-image: url("../img/lablaco.jpg");
}
.n2{
  background-image: url("../img/parades.jpg");
}
.n3{
  background-image: url("../img/tras.jpg");
}
.n4{
  background-image: url("../img/chronopop.jpg");
}
.n5{
  background-image: url("../img/metabolisme.jpg");
}
.n6{
  background-image: url("../img/illnation.jpg");
}
.n7{
  background-image: url("../img/future.jpg");
}
.n8{
  background-image: url("../img/microdoc.jpg");
}

#header{
  position: fixed;
  top: 0;
  width: 100%;
  height: 12%;
  z-index: 2;
}

/* .colorChange{
  color: #fff !important;
} */

.active{
  font-weight: bold;
  text-decoration: underline;
}
.active:hover{
  color: #353535 !important;
}

#logo{
  position: absolute;
  width: 6%;
  left: 3%;
  top: 50%;
  transform: translateY(-50%);
}
#logoProjectPage{
  position: absolute;
  width: 6%;
  left: 3%;
  top: 50%;
  transform: translateY(-50%);
}

#name{
  position: absolute;
  left: 3%;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  color: #353535;
}
#nameProjectPage{
  position: absolute;
  left: 3%;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  color: #353535;
}

.link{
  position: absolute;
  right: 3%;
  top: 50%;
  transform: translateY(-50%);
}
.link a{
  color: #353535;
  font-size: 3vw;
}
.link a:hover{
  color: #7DB9FF;
}
.link :first-child{
  padding-right: 50px;
}

section{
  height: 100vh;
}

.infos{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 3% 3%;
}

.typewrite{
  font-family: "HelveticaNow", sans-serif;
  font-size: 7vw;
  position: absolute;
  text-align: left;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  white-space: wrap;
}

#work{
  position: absolute;
  top: 100vh;
  width: 100vw;
  padding-top: 7%;
}
.project .insideText{
  color: #353535;
  position: absolute;
  width: 60%;
}

.project{
  text-align: left;
  position: relative;
  display: inline-block;
  margin : 0 auto;
  /* width: 36%; */
  /* padding: 5%; */
  line-height: 150%;
  /* margin: 0 4.5% 9% 4.5%; */
  margin: 0 3% 3% 3%;
  border-radius: 13px;
  min-width: 94%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .25);
}
.project:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.project:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(0.99) translate(5px, 5px);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .4);
}

.insideText{
  position: absolute;
  left: 5%;
  top: 5%;
}
.project h1{
  font-family: "HelveticaNow", sans-serif;
  text-decoration: underline;
  margin-bottom: 3%;
  font-size: 5vw;
}
.project h2{
  /* display: none; */
  font-size: 3vw;
  opacity: 0.6;
  margin-bottom: 6%;
}
.project p{
  /* margin-top: 1.5%; */
  font-size: 3vw;
  font-weight: bold;
  /* max-width: 60%; */
}

#footer{
  position: relative;
  width: 100vw;
  height: 100vh;
  text-align: center;
}
#hello{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#hello h1{
  font-family: "HelveticaNow", sans-serif;
  font-size: 7vw;
}
#contact{
  line-height: 200%;
  white-space: nowrap;
  font-size: 3vw;
}
#contact a{
  /* color: #B2BBE4; */
  color: #353535;
  text-decoration: underline;
}
#contact a:hover{
  color: #7DB9FF;
}
#note{
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3vw;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltiptext {
  display: none;
  width: 150px;
  background-color: #7DB9FF;
  color: #353535;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 120%;
  left: 50%;
  margin-left: -80px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #B2BBE4 transparent transparent transparent;
}

.tooltip:active .tooltiptext {
  display: block;
}

.divBackground{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  overflow:auto;
}

.backgroundLablaco{
  background-image: url("../img/lablacoimg.jpg");
  /* border-left: 2px solid rgba(255, 255, 255, 0.5); */
}
/* .backgroundLablaco:hover{
  background-image: url("../img/lablacohover.jpg");
} */
.backgroundParades{
  background-image: url("../img/paradesimg.jpg");
}
.backgroundParades:hover{
  background-image: url("../img/paradeshover.jpg");
}
.backgroundTras{
  background-image: url("../img/trasimg.jpg");
}
.backgroundTras:hover{
  background-image: url("../img/trashover.jpg");
}
.backgroundChronopop{
  background-image: url("../img/chronopopimg.jpg");
}
/* .backgroundChronopop:hover{
  background-image: url("../img/chronopophover.jpg");
} */
.backgroundMetabolisme{
  background-image: url("../img/metabolismeimg.jpg");
}
.backgroundMetabolisme:hover{
  background-image: url("../img/metabolismehover.jpg");
}
.backgroundIllnation{
  background-image: url("../img/illnationimg.jpg");
}
.backgroundIllnation:hover{
  background-image: url("../img/illnationhover.jpg");
}
.backgroundWgt{
  background-image: url("../img/wgtimg.jpg");
}
.backgroundWgt:hover{
  background-image: url("../img/wgthover.jpg");
}

.backgroundAds{
  background-image: url("../img/future.jpg");
  /* border-left: 2px solid rgba(255, 255, 255, 0.5); */
}
.backgroundMicrodoc{
  background-image: url("../img/microdoc.jpg");
  /* border-left: 2px solid rgba(255, 255, 255, 0.5); */
}

/* Project Pages */

.topPic{
  height: 45vh;
  width: 95vw;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  overflow:auto;

  position: relative;
  margin: 3.5% auto 0 auto;
  border-radius: 13px;
}
.topPic h1{
  font-family: "HelveticaNow", sans-serif;
  font-size: 7vw;
  text-align: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wgtPage{
  background-image: url("../img/wgtpage.jpg");
}
.illnationPage{
  background-image: url("../img/illnationpage.jpg");
}
.metabolismePage{
  background-image: url("../img/metabolismepage.jpg");
}
.paradesPage{
  background-image: url("../img/paradespage.jpg");
}
.trasPage{
  background-image: url("../img/traspage.jpg");
}
.lablacoPage{
  background-image: url("../img/lablacopage.jpg");
}
.chronopopPage{
  background-image: url("../img/chronopoppage.jpg");
}
.adsPage{
  background-image: url("../img/futurepage.jpg");
}
.microdocPage{
  background-image: url("../img/microdocpage.jpg");
}

.textContainer{
  width: 100%;
}

.projectInfo{
  flex-basis: 40%;
}
.projectInfo p{
  font-size: 3vw;
  color: #353535;
  line-height: 150%;
  margin-bottom: 5%;
  min-width: 300px;
}

.titleInfo{
  font-family: "HelveticaNow", sans-serif;
  font-size: 3vw;
  color: #353535;
  border-left: 2px solid #353535;
  padding-left: 3px;
}

.userInfo{
  flex-basis: 40%;
}
.userInfo p{
  font-size: 3vw;
  color: #353535;
  line-height: 150%;
}

.projectFooter{
  color: #353535;
}

.projectFooter #contact a{
  color: #353535;
  text-decoration: underline;
}
.projectFooter #contact a:hover{
  color: #7DB9FF;
}

.part{
  width: 100%;
  text-align: center;
  color: #353535;
  margin-top: 5%;
}
.part img{
  max-width: 94%;
  margin: 5% 0;
  border-radius: 13px;
}
.part video{
  max-width: 94%;
  margin: 5% 0;
  border-radius: 13px;
}

.lastImg{
  margin-bottom: 0 !important;
}

.paragraph{
  text-align: left;
  max-width: 94%;
  margin-left: 3%;
}

.paragraphTitle{
  font-family: "HelveticaNow", sans-serif;
  font-size: 5vw;
  color: #353535;
  border-left: 2px solid #353535;
  margin-bottom: 1%;
  padding-left: 0.5%;
}
.paragraph p{
  font-size: 3vw;
  line-height: 150%;
}

.nextUp{
  height: 50vh;
  margin-top: 5%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow:auto;

  position: relative;
}

.nextWgt{
  background-image: url("../img/wgtpageend.jpg");
}
.nextLablaco{
  background-image: url("../img/lablacopageend.jpg");
}
.nextParades{
  background-image: url("../img/paradespageend.jpg");
}
.nextTras{
  background-image: url("../img/traspageend.jpg");
}
.nextChronopop{
  background-image: url("../img/chronopoppageend.jpg");
}
.nextMetabolisme{
  background-image: url("../img/metabolismepageend.jpg");
}
.nextIllnation{
  background-image: url("../img/illnationpageend.jpg");
}
.nextAds{
  background-image: url("../img/futurepageend.jpg");
}
.nextMicrodoc{
  background-image: url("../img/microdocpageend.jpg");
}

.nextText{
  position: absolute;
  left: 3%;
  top: 50%;
  transform: translateY(-50%);
  color: #353535;
}

#nextName{
  font-family: "HelveticaNow", sans-serif;
  font-size: 5vw;
  color: #353535;
  margin-top: 1%;
}

.aboutHeader a{
  color: #353535;
}
.aboutHeader a:hover{
  color: #7DB9FF;
}
.aboutHeader #name{
  color: #353535;
}

#coming{
  text-align: center;
  color: #353535;
}

#coming h1{
  font-family: "HelveticaNow", sans-serif;
  font-size: 7vw;
  text-align: center;
}
#coming a{
  color: #353535;
  text-decoration: underline;
  font-size: 3vw;
}
#coming a:hover{
  color: #7DB9FF;
}

.comingText{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
